{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Блог</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="container">
        <div class="header">
          <a href="{% url 'index' %}">
            <div class="design-box-new"></div>
          </a>
          <div class="nav">
            <a href="{% url 'catalog' %}" class="goods-services">Товары и услуги</a>
            <a href="{% url 'index' %}" class="completed-projects"
              >Реализованные проекты</a
            >
            <a href="{% url 'blog' %}" class="blog-1">Блог</a>
            <a href="{% url 'contact' %}" class="contacts">Контакты</a>
          </div>
          <a href="{% url 'contact' %}">
          <button class="btns">
            <div class="btn">
              <span class="get-in-touch">Выйти на связь</span>
            </div>
          </button>
          </a>

        </div>
        <div class="frame">
          <a href="{% url 'index' %}" class="home">Главная</a
          ><a href="{% url 'blog' %}" class="blog-link">/ Блог</a>
        </div>
<div class="frame-2">
    {% for blog in blogs_groups.first_group %}
    <div class="component">
        <a href="{% url 'detail-blog' blog.id %}">
            <div class="item">
                <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="item">
                <h3>{{ blog.title }}</h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="frame-5">
    {% for blog in blogs_groups.second_group %}
    <div class="component">
        <a href="{% url 'detail-blog' blog.id %}">
            <div class="item">
                <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="item">
                <h3>{{ blog.title }}</h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
        <div class="frame-b">
          <span class="our-videos-on-youtube">Наши видео на Youtube</span>
          <div class="youtube">
            <div class="noor"><div class="image-d"></div></div>
            <div class="noor-c"><div class="image-d"></div></div>
            <div class="noor-e"><div class="image-f"></div></div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="container">
        <div class="frame-10">
          <div class="frame-11">
            <div class="design-for-box-new"></div>
            <div class="group">
              <div class="flex-row-ae">
                <div class="frame-12">
                  <a href="{% url 'catalog' %}" class="products-and-services"
                    >Товары и услуги</a
                  >
                  <div class="group-13">
                    <span class="span-lighting">светильники</span
                    ><span class="span-tiles">плиты</span
                    ><span class="span-repair">ремонт</span
                    ><span class="span-wiring-service">услуга проводки</span>
                  </div>
                </div>
                <div class="frame-14">
                  <a href="{% url 'index' %}" class="span-projects"
                    >Реализованные проекты</a
                  >
                  <div class="group-15">
                    <span class="span-offices">офисы</span
                    ><span class="span-apartments">квартиры</span
                    ><span class="span-malls">торговые центры</span
                    ><span class="span-others">другие</span>
                  </div>
                </div>
                <div class="frame-16">
                  <a href="{% url 'blog' %}" class="span-blog">Блог</a>
                  <a href="{% url 'contact' %}" class="contacts-17">Контакты</a>
                  <span class="privacy-policy"
                    >Политика<br />конфиденциальности</span
                  ><span class="terms-of-service"
                    >Политика<br />соглашения</span
                  >
                </div>
              </div>
              <div class="cn">
                <div class="social-icons"></div>
                <div class="social-icons-18"></div>
                <div class="social-icons-19"></div>
                <div class="social-icons-1a"></div>
                <div class="social-icons-1b"></div>
                <div class="social-icons-1c"></div>
              </div>
            </div>
          </div>
<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3201.7793528410466!2d74.63698900101348!3d42.85622845264179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb6572914c7b7%3A0x669f8315bcc304af!2z0KLQtdGF0L3QviDQn9Cw0YDQug!5e0!3m2!1sru!2skg!4v1739354829416!5m2!1sru!2skg" width="750" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

        </a>
        </div>
      </div>
    </div>
    <!-- Generated by Codia AI - https://codia.ai/ -->
  </body>
</html>
